/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*id's*/
#icon{
	width: 30px;
	height: 30px;
}

#landing-page{
	height: 50vh;
	background-image: url(https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	/*it stretches our background image to cover the area of the element*/
	background-repeat: no-repeat;
	/*it prevents your background image to repeat*/
	background-position: center;
	/*it positions or move your background image to the center of the element*/
	/*display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #6DCCDE;
	color: #fff;*/
}

#gmap-canvas{
	height: 60vh;
	width: 100%;
}

/*type*/
li{
	list-style-type: none;
}

