/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #D0D0E0;
}

#contactform{
	background-color: #9090C0;
 	border-color: #8383C1;
    border-style: transparent;
    color: white;
}